<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class= "row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          You know
          <br />
          you need
          <br />
          to code
        </div>
        <% end %> <!-- w/o the %=, means we run this code but don't spit the value out to the page-->
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice about entrepreneurship since 2015
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />  <!-- this is the line at the bottom of the nav bar -->




    <br class="clear" />
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>  <!-- the .html_safe is to put this code out-- since ruby on rails usually tries to prevent html from going to the webpage  -->
        </div>
      <% end %>
     <%= yield %>
    </div>


    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more.", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Website by Ahmed Shoukr <a href="https://splurty-ahmed-shoukr.herokuapp.com"> There will be a lot of blog posts about coding here. </a>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>

