<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class= "row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          You know
          <br />
          you need
          <br />
          to code
        </div>
        <% end %> <!-- w/o the %=, means we run this code but don't spit the value out to the page-->
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice about entrepreneurship since 2015
      </div>
      <div class="col-5 links">
       <!-- Button trigger modal -->
      <!--  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Contribute
        </button> -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        <!-- <%= link_to 'Contribute', new_quote_path %> -->
        <%= link_to 'About', about_path %>
      </div>
    </header>


 

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %> <!-- took out for @quote do ]f]...-->
          <div class="modal-body">
            <%= f.input :saying %>
            <%= f.input :author %>
            <br /> 
              <!-- this is for a few line breaks -->
                           <!--  Submit button so user can submit the form-->
               <!-- added a bootstrap 4button css style -->
           
          </div>
          <div class="modal-footer">

           

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <%= f.submit 'Create', class: 'btn btn-danger' %>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
          <% end %>
        </div>
      </div>
    </div>




    <hr />  <!-- this is the line at the bottom of the nav bar -->

    <br class="clear" />
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>  <!-- the .html_safe is to put this code out-- since ruby on rails usually tries to prevent html from going to the webpage  -->
        </div>
      <% end %>
     <%= yield %>
    </div>


    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more.", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Website by Ahmed Shoukr <a href="https://splurty-ahmed-shoukr.herokuapp.com"> 
            There will be a lot of blog posts about coding here. </a>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>

