<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class= "row">
      <div class="col-3">
        <div class="circle">
          <br />
          You know
          <br />
          you need
          <br />
          to code
        </div>
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice about entrepreneurship since 2015
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', 'https://www.donaldjtrump.com' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />  <!-- this is the line at the bottom of the nav bar -->




    <br class="clear" />

    <%= yield %>
  </body>
</html>
